@keyframes fangda {
  to {
    transform: scale(1.1, 1.1);
  }
}
body {
  background-color: #000;
}
.wrapper {
  width: 1400px;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 40px;
}
header .left {
  float: left;
}
header .left h2:hover a {
  color: orange;
}
header .right {
  float: right;
}
header .right li {
  position: relative;
  margin-left: 20px;
  float: left;
  color: #fff;
}
header .right li:hover a {
  color: orange;
}
header .right li .lxfs {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: -20px;
  bottom: -1;
  width: 240px;
  text-align: center;
}
header .right li .lxfs span {
  font-size: 12px;
}
header a {
  color: #fff;
}
.top_name {
  height: 100vh;
  width: 99vw;
  text-align: center;
  line-height: 100vh;
  color: #fff;
  background-image: url(../image/background_image.jpg);
  background-size: 100% 100%;
}
.top_name overflow:hidden h1 {
  font-size: 50px;
}
.content {
  margin: 0 auto;
  margin-top: 20px;
}
.content section {
  height: 200px;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.content section a {
  display: flex;
  align-items: center;
  color: #fff;
}
.content section a .text {
  flex: 5;
}
.content section a .text h3 {
  text-align: center;
  font-size: 40px;
}
.content section a img {
  display: block;
  flex: 1;
  float: right;
  width: 180px;
  height: 180px;
}
.content section:nth-child(2n) a {
  justify-content: space-between;
  flex-flow: row-reverse;
}
.content section:hover {
  animation: fangda 1s;
}
